<div class="container" data-ng-controller="HeaderController">
	<top-bar is-hover="false">
		<ul class="title-area">
			<li class="name"><h1><a href="/#!/">HYMN</a></h1></li>
			<li toggle-top-bar class="menu-icon">
				<a href="#" onclick="return false;"><i class="fa fa-bars" /></a>
			</li>
		</ul>
		<top-bar-section>
			<ul class="right">
				<li ui-route="/signin" ng-class="{active: $uiRoute}" data-ng-hide="authentication.user" >
					<a href="/#!/signin">Sign In</a>
				</li>
				<li has-dropdown data-ng-show="authentication.user">
					<a href="#">
						<span data-ng-bind="authentication.user.displayName"></span>
					</a>
					<ul top-bar-dropdown>
						<li><a href="/#!/settings/profile">Edit Profile</a></li>
						<li data-ng-show="authentication.user.provider === 'local'">
							<a href="/#!/settings/password">Change Password</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/auth/signout">Signout</a>
						</li>
					</ul>
				</li>
			</ul>

			<ul class="left" data-ng-if="menu.shouldRender(authentication.user);">
				<span data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);">
					<li ng-class="{active: ($uiRoute)}" data-ng-show="item.menuItemType === 'dropdown'" has-dropdown>
						<a href="#" onclick="return false;">
							<span data-ng-bind="item.title"></span>
						</a>
						<ul class="dropdown">
							<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
								<a href="/#!/{{subitem.link}}" onclick="return false;" data-ng-bind="subitem.title"></a>
							</li>
						</ul>
					</li>
					<li ng-class="{active: ($uiRoute)}" data-ng-show="item.menuItemType === 'link'">
						<a href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
					</li>
				</span>
			</ul>
		</top-bar-section>
	</top-bar>
	<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false" ng-show="false">
		<ul class="title-area">
			<li class="name">
				<h1><a href="/#!/">HYMN</a></h1>
			</li>
			<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
			<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		</ul>

		<section class="top-bar-section">
			<!-- Right Nav Section -->
			<ul class="right">
				<li ui-route="/signin" ng-class="{active: $uiRoute}" data-ng-hide="authentication.user" >
					<a href="/#!/signin">Sign In</a>
				</li>
				<li class="has-dropdown" data-ng-show="authentication.user">
					<a href="#">
						<span data-ng-bind="authentication.user.displayName"></span>
					</a>
					<ul class="dropdown">
						<li><a href="/#!/settings/profile">Edit Profile</a></li>
						<li>
							<a href="/#!/settings/accounts">Manage Social Accounts</a>
						</li>
						<li data-ng-show="authentication.user.provider === 'local'">
							<a href="/#!/settings/password">Change Password</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/auth/signout">Signout</a>
						</li>
					</ul>
				</li>
			</ul>

			<!-- Left Nav Section -->
			<ul class="left" data-ng-if="menu.shouldRender(authentication.user);">
				<li><a href="#">Publishers</a></li>
				<li><a href="#">Hymn Books</a></li>
				<li><a href="#">Hymns</a></li>
				<li class="has-dropdown">
					<a href="#">Right Button Dropdown</a>
					<ul class="dropdown">
						<li><a href="#">First link in dropdown</a></li>
						<li class="active"><a href="#">Active link in dropdown</a></li>
					</ul>
				</li>
				<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" ng-class="{active: ($uiRoute), 'has-dropdown': item.menuItemType === 'dropdown'}">
					<a ng-switch-when="dropdown" href="#">
						<span data-ng-bind="item.title"></span>
					</a>
					<ul ng-switch-when="dropdown" class="dropdown">
						<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
							<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
						</li>
					</ul>
					<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
				</li>
			</ul>
		</section>
	</nav>
	<div class="navbar-header" ng-show="false">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/#!/" class="navbar-brand">MEAN.JS</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation" ng-show="false">
		<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
			<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle">
					<span data-ng-bind="item.title"></span>
					<b class="caret"></b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
						<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
					</li>
				</ul>
				<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Sign Up</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Sign In</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li>
						<a href="/#!/settings/accounts">Manage Social Accounts</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>