<section data-ng-controller="SigninController">
	<div class="row">
		<div class="large-12 columns">
			<div class="sign-in-form">
				<div class="sub-header">Sign In</div>
				<form data-ng-submit="signin()" autocomplete="off">
					<div class="row">
						<div class="large-12 columns">
							<label for="username">Username
								<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
							</label>
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns">
							<label for="password">Password
								<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
							</label>
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns">
							<ui-btn
								ui-btn-type="submit"
								ui-btn-css-class="sign-in-btn"
								ui-btn-btn-css-class="success"
								ui-btn-icon-class="sign-in" 
								ui-btn-label="Sign In">
							</ui-btn>
							<div class "forgot-password" ng-if="false">
								<a href="/#!/password/forgot">Forgot your password?</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>