@font-face {
	font-family: Hua;
	src: url('/modules/core/font/hua.ttf');
}
body {
	font-family: Hua, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.content {
	margin-top: 50px;
}
.content .container {
	padding: 0 40px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}
.pull_right {
	float: right;
}
.pull_left {
	float: left;
}
.clear {
	clear: both;
}
.padding_none {
	padding: 0;
}
.padding_top {
	padding-top: 1rem;
}
.padding_top_third {
	padding-top: 0.75rem;
}
.padding_top_half {
	padding-top: 0.5rem;
}
.padding_top_quarter {
	padding-top: 0.25rem;
}
.padding_bottom {
	padding-bottom: 1rem;
}
.padding_bottom_third {
	padding-bottom: 0.75rem;
}
.padding_bottom_half {
	padding-bottom: 0.5rem;
}
.padding_bottom_quarter {
	padding-bottom: 0.25rem;
}
.margin_left {
	margin-left: 1rem;	
}
.margin_left_half {
	margin-left: 0.5rem;	
}
.margin_left_quarter {
	margin-left: 0.25rem;
}
.margin_right {
	margin-right: 1rem;
}
.margin_right_half {
	margin-right: 0.5rem;
}
.margin_right_quarter {
	margin-right: 0.25rem;
}
.no-data {
	font-size: 0.9rem;
	font-style: italic;
	font-weight: lighter;
}
.tooltip {
	font-size: 0.6rem;
	padding: 0.5rem;
}

.page-header i.create-new,
.page-header i.filter-toggler {
	font-size: 1rem;
	margin-left: 0.25rem;
	color: #999;
	cursor: pointer;
}
.page-header i.create-new:hover,
.page-header i.filter-toggler:hover {
	color: #333;
}

.list-group {
	margin-top: 1.5rem;
}
.list-group .list-entry,
.hymn-content .hymn-info {
	display: inline-block;
	position: relative;
	margin-right: 20px;
	vertical-align: top;
	background: #eee;
	width: 100%;
	height: 9rem;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 5px solid rgb(145, 85, 20);
	border-top: 5px solid rgba(145, 85, 20, 0.7);
	border-radius: 0.25rem;
	text-align: center;
	margin-bottom: 1.5rem;
}
.hymn-content .hymn-info {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 1rem;
}
.list-group .list-entry.hymn {
	height: 6rem;
}
.list-group .list-entry:hover,
.hymn-content .hymn-info:hover {
	background: #fff;
	border-top: 5px solid rgb(145, 85, 20);
	border-top: 5px solid rgba(145, 85, 20, 1);
}
.list-group .list-entry.zh-CAN,
.hymn-content .hymn-info.zh-CAN {
	border-top: 5px solid rgb(212, 212, 32);
	border-top: 5px solid rgba(212, 212, 32, 0.7);
}
.list-group .list-entry.zh-CAN:hover,
.hymn-content .hymn-info.zh-CAN {
	border-top: 5px solid rgb(212, 212, 32);
	border-top: 5px solid rgba(212, 212, 32, 1);
}
.list-group .list-entry.zh-MAN,
.hymn-content .hymn-info.zh-MAN {
	border-top: 5px solid rgb(186, 24, 24);
	border-top: 5px solid rgba(186, 24, 24, 0.7);
}
.list-group .list-entry.zh-MAN:hover,
.hymn-content .hymn-info.zh-MAN:hover {
	border-top: 5px solid rgb(186, 24, 24);
	border-top: 5px solid rgba(186, 24, 24, 1);
}
.list-group .list-entry.en,
.hymn-content .hymn-info.en {
	border-top: 5px solid rgb(36, 38, 201);
	border-top: 5px solid rgba(36, 38, 201, 0.7);
}
.list-group .list-entry.en:hover,
.hymn-content .hymn-info.en:hover {
	border-top: 5px solid rgb(36, 38, 201);
	border-top: 5px solid rgba(36, 38, 201, 1);
}
.list-group .list-entry.zh-CAN.zh-MAN,
.hymn-content .hymn-info.zh-CAN.zh-MAN {
	border-top: 5px solid rgb(237, 130, 7);
	border-top: 5px solid rgba(237, 130, 7, 0.7);
}
.list-group .list-entry.zh-CAN.zh-MAN:hover,
.hymn-content .hymn-info.zh-CAN.zh-MAN:hover {
	border-top: 5px solid rgb(237, 130, 7);
	border-top: 5px solid rgba(237, 130, 7, 1);
}
.list-group .list-entry.en.zh-CAN,
.hymn-content .hymn-info.en.zh-CAN {
	border-top: 5px solid rgb(36, 145, 31);
	border-top: 5px solid rgba(36, 145, 31, 0.7);
}
.list-group .list-entry.en.zh-CAN:hover,
.hymn-content .hymn-info.en.zh-CAN:hover {
	border-top: 5px solid rgb(36, 145, 31);
	border-top: 5px solid rgba(36, 145, 31, 1);
}
.list-group .list-entry.en.zh-MAN,
.hymn-content .hymn-info.en.zh-MAN {
	border-top: 5px solid rgb(230, 32, 137);
	border-top: 5px solid rgba(230, 32, 137, 0.7);
}
.list-group .list-entry.en.zh-MAN:hover,
.hymn-content .hymn-info.en.zh-MAN:hover {
	border-top: 5px solid rgb(230, 32, 137);
	border-top: 5px solid rgba(230, 32, 137, 1);
}
.list-group .list-entry.en.zh-CAN.zh-MAN,
.hymn-content .hymn-info.en.zh-CAN.zh-MAN {
	border-top: 5px solid rgb(108, 31, 153);
	border-top: 5px solid rgba(108, 31, 153, 0.7);
}
.list-group .list-entry.en.zh-CAN.zh-MAN:hover,
.hymn-content .hymn-info.en.zh-CAN.zh-MAN:hover {
	border-top: 5px solid rgb(108, 31, 153);
	border-top: 5px solid rgba(108, 31, 153, 1);
}
.list-group .list-entry .entry-header {
	padding: 0.25rem;
	color: #333;
	height: 6rem;
}
.list-group .list-entry .entry-stats {
	font-size: 24px;
	height: 2.5rem;
	color: rgb(36, 145, 31);
}
.list-group .list-entry .action-icon {
	position: absolute;
	bottom: 0;
}
.list-group .list-entry .action-icon i {
	cursor: pointer;
	color: #999;
}
.list-group .list-entry .action-icon i:hover {
	color: #333;
}
.list-group .list-entry .action-icon.left {
	left: 0.25rem;
}
.list-group .list-entry .action-icon.right {
	right: 0.25rem;
}
.list-group .list-entry .entry-stats.zero {
	color: #CD3948;
}
a {
	color: #5C5C5C;
}
a:hover {
	color: #4A4A4A;
}
a.underline:hover {
	border-bottom: 1px solid #4A4A4A;
}
/* form css */
.new-form,
.edit-form,
.filter-section {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin: 1rem 0;
    padding: 1rem;
    padding-top: 2rem;
    position: relative;
}
.edit-form {
	padding: 0;
	padding-top: 2rem;
	margin: 0;
}
.new-form.ng-hide-remove {
    -webkit-animation: zoomInDown 1s;
    -moz-animation: zoomInDown 1s;
    animation: zoomInDown 1s;
}
.new-form.ng-hide-add {
    -webkit-animation: zoomOutUp 1s;
    -moz-animation: zoomOutUp 1s;
    animation: zoomOutUp 1s;
    display: block !important;
}
.filter-section.ng-hide-remove {
    -webkit-animation: flipInX 1s;
    -moz-animation: flipInX 1s;
    animation: flipInX 1s;
}
.filter-section.ng-hide-add {
    -webkit-animation: flipOutX 1s;
    -moz-animation: flipOutX 1s;
    animation: filpOutX 1s;
    display: block !important;
}
.new-form .sub-header,
.edit-form .sub-header,
.filter-section .sub-header {
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0.1rem 0.25rem;
    font-size: 0.75rem;
}
.new-form .row,
.filter-section .row {
	max-width: none;
}
label.error {
	color: #CD3948;
}
.row.error {
	border: 1px solid #CD3948;
    -webkit-animation: shake 0.5s;
    -moz-animation: shake 0.5s;
    animation: shake 0.5s;
}
.form-error {
	background: #CD3948;
	color: #fff;
	font-size: 0.75rem;
}
form .row .row.form-group {
	margin: 0;
}
form .row .row.form-group .columns {
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}
.checkbox {
	display: inline-block;
}

.info-dropdown .name,
.hymnbook-name {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.color-code {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
}
.color-code .color {
	width: 0.75rem;
	height: 0.75rem;
}
.color-code .color.red {
	background: rgb(186, 24, 24);
	background: rgba(186, 24, 24, 0.7);
	border-top-left-radius: 0.75rem;
}
.color-code .color.blue {
	background: rgb(36, 38, 201);
	background: rgba(36, 38, 201, 0.7);
	border-top-right-radius: 0.75rem;
}
.color-code .color.purple {
	background: rgb(108, 31, 153);
	background: rgba(108, 31, 153, 0.7);
	border-bottom-left-radius: 0.75rem;
}
.color-code .color.yellow {
	background: rgb(212, 212, 32);
	background: rgba(212, 212, 32, 0.7);
	border-bottom-right-radius: 0.75rem;
}
.color-code:hover .color.red {
	background: rgb(186, 24, 24);
	background: rgba(186, 24, 24, 0.8);
}
.color-code:hover .color.blue {
	background: rgb(36, 38, 201);
	background: rgba(36, 38, 201, 0.8);
}
.color-code:hover .color.purple {
	background: rgb(108, 31, 153);
	background: rgba(108, 31, 153, 0.8);
}
.color-code:hover .color.yellow {
	background: rgb(212, 212, 32);
	background: rgba(212, 212, 32, 0.8);
}
.info .fa-stack {
	color: #666;
}
.info .fa-stack:hover .fa-circle-thin {
	color: #1E9731;
}
.info .fa-stack:hover .fa-info {
	color: #333;
}
.color-code-info,
.info-dropdown {
	width: 17rem;
	max-width: none;
	padding: 0.75rem;
	border-radius: 0.75rem;
	right: 10px !important;
	left: auto !important;
	margin-top: 7px;
}
.f-dropdown.color-code-info:before {
	right: 34px;
	left: auto;
}
.f-dropdown.color-code-info:after {
	right: 33px;
	left: auto;	
}
.color-code-info .list-group {
	text-align: center;
}
.color-code-info .list-group .list-entry.dummy-card {
	width: 30px;
	height: 25px;
	margin: 0;
}
.info {
	font-size: 0.9rem;
	margin-top: -1px;
	margin-right: 10px;
	cursor: pointer;
}
.f-dropdown.info-dropdown:before {
	right: 71px;
	left: auto;
}
.f-dropdown.info-dropdown:after {
	right: 70px;
	left: auto;	
}
.info-dropdown dl.name {
	display: inline-block;
	margin: 0 10px;
}
.info-dropdown dt {
	text-transform: uppercase;
	font-size: 0.75rem;
	text-align: left;
	color: #ccc;
}
.info-dropdown dd {
	font-size: 0.9rem;
	margin-left: 1rem;
}
form .select2-container,
.filter-section .select2-container {
	width: 100%;
	margin-bottom: 1rem;
}
.hymn-content {
	position: relative;
	max-width: 62.5rem;
	margin-left: auto;
	margin-right: auto;
}
.hymn-content .left-panel,
.hymn-content .lyrics-panel {
	display: inline-block;
	vertical-align: top;
	margin-top: 2rem;
}
.hymn-content .left-panel {
	width: 17rem;
	margin-right: 1.5rem;
}
.hymn-content .lyrics-panel {
	width: calc(100% - 19rem);
}
.hymn-content .lyrics-panel:hover {
	background: #fff;
}
.hymn-content .left-panel .hymn-labels,
.hymn-content .lyrics-panel {
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	padding: 0.5rem;
}
.hymn-content .left-panel .hymn-labels input {
	background: transparent;
	border: none;
}
.hymn-content .left-panel .hymn-labels:hover {
	background: #fff;
}
.hymn-content .lyrics-panel .add-lyrics-set .add-lyrics-set-toggler,
.hymn-content .lyrics-panel .add-lyrics-set .add-lyrics-set-lang-selector {
	display: inline-block;
}
.hymn-content .lyrics-panel .add-lyrics-set .add-lyrics-set-lang-selector {
	font-size: 0.8rem;
}
.hymn-content .lyrics-panel .add-lyrics-set .add-lyrics-btn {
	font-size: 0.6rem;
}

/* modal css */
.reveal-modal{
	max-height: 20rem;
	overflow-y: auto;
	padding: 0;
}
.reveal-modal.delete-item-modal {
	width: 30rem;
}
.reveal-modal.edit-item-modal .edit-form .body {
	padding: 0.5rem 0.5rem;
}
.reveal-modal.edit-item-modal .edit-form .footer {
	padding-top: 0;
}

.reveal-modal .header {
	position: relative;
}
.reveal-modal .header,
.reveal-modal .body,
.reveal-modal .footer {
	font-size: 1rem;
	padding: 1rem 1.5rem;
}
.reveal-modal .header i.fa-close {
	font-size: 1rem;
	color: #999;
	cursor: pointer;
	position: absolute;
	right: 1.25rem;
	top: 1.25rem;
}
.reveal-modal .footer .button {
	margin-bottom: 0;
}
.reveal-modal.fade {
    -webkit-animation: zoomInDown 1s;
    -moz-animation: zoomInDown 1s;
    animation: zoomInDown 1s;
}
.reveal-modal.in {
    -webkit-animation: zoomInDown 1s;
    -moz-animation: zoomInDown 1s;
    animation: zoomInDown 1s;
}
.reveal-modal-bg.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.reveal-modal-bg.in {
  filter: alpha(opacity=50);
  opacity: .5;
}