/* animtions (using animcate.css) */
.animation_flipInX(@duration) {
	-webkit-animation: flipInX @duration;
	-moz-animation: flipInX @duration;
	animation: flipInX @duration;
}
.animation_flipOutX(@duration) {
	-webkit-animation: flipOutX 1s;
	-moz-animation: flipOutX 1s;
	animation: filpOutX 1s;
}
