/* define colors */
/* animtions (using animcate.css) */
/* hymn specific colors */
.page-header i.create-new,
.page-header i.filter-toggler {
  font-size: 1rem;
  margin-left: 0.25rem;
  color: #999999;
  cursor: pointer;
}
.page-header i.create-new:hover,
.page-header i.filter-toggler:hover {
  color: #333333;
}
.list-group {
  margin-top: 1.5rem;
}
.list-group .list-entry {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  vertical-align: top;
  background: #eeeeee;
  width: 100%;
  height: 9rem;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-top: 5px solid #915514;
  border-top: 5px solid rgba(145, 85, 20, 0.7);
  border-radius: 0.25rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
.list-group .list-entry.hymn {
  height: 6rem;
}
.list-group .list-entry:hover {
  background: #ffffff;
  border-top: 5px solid #915514;
}
.list-group .list-entry.en {
  border-top: 5px solid #2426c9;
  border-top: 5px solid rgba(36, 38, 201, 0.7);
}
.list-group .list-entry.en:hover {
  border-top: 5px solid #2426c9;
}
.list-group .list-entry.zh-CAN {
  border-top: 5px solid #d4d420;
  border-top: 5px solid rgba(212, 212, 32, 0.7);
}
.list-group .list-entry.zh-CAN:hover {
  border-top: 5px solid #d4d420;
}
.list-group .list-entry.zh-MAN {
  border-top: 5px solid #ba1818;
  border-top: 5px solid rgba(186, 24, 24, 0.7);
}
.list-group .list-entry.zh-MAN:hover {
  border-top: 5px solid #ba1818;
}
.list-group .list-entry.en.zh-CAN {
  border-top: 5px solid #24911f;
  border-top: 5px solid rgba(36, 145, 31, 0.7);
}
.list-group .list-entry.en.zh-CAN:hover {
  border-top: 5px solid #24911f;
}
.list-group .list-entry.en.zh-MAN {
  border-top: 5px solid #e62089;
  border-top: 5px solid rgba(230, 32, 137, 0.7);
}
.list-group .list-entry.en.zh-MAN:hover {
  border-top: 5px solid #e62089;
}
.list-group .list-entry.en.zh-CAN.zh-MAN {
  border-top: 5px solid #6c1f99;
  border-top: 5px solid rgba(108, 31, 153, 0.7);
}
.list-group .list-entry.en.zh-CAN.zh-MAN:hover {
  border-top: 5px solid #6c1f99;
}
.list-group .list-entry .entry-header {
  padding: 0.25rem;
  color: #333333;
  height: 6rem;
}
.list-group .list-entry .entry-stats {
  font-size: 24px;
  height: 2.5rem;
  color: #1e9731;
}
.list-group .list-entry .entry-stats.zero {
  color: #cd3948;
}
.list-group .list-entry .action-icon {
  position: absolute;
  bottom: 0;
}
.list-group .list-entry .action-icon i {
  cursor: pointer;
  color: #999999;
}
.list-group .list-entry .action-icon i:hover {
  color: #333333;
}
.list-group .list-entry .action-icon.left {
  left: 0.25rem;
}
.list-group .list-entry .action-icon.right {
  right: 0.25rem;
}
.hymn-content .hymn-info {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  vertical-align: top;
  background: #eeeeee;
  height: auto;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-top: 5px solid #915514;
  border-top: 5px solid rgba(145, 85, 20, 0.7);
  border-radius: 0.25rem;
  text-align: center;
  margin-bottom: 1.5rem;
  width: 100%;
  margin: 0;
  padding: 1rem;
}
.hymn-content .hymn-info:hover {
  background: #ffffff;
  border-top: 5px solid #915514;
}
.hymn-content .hymn-info.en {
  border-top: 5px solid #2426c9;
  border-top: 5px solid rgba(36, 38, 201, 0.7);
}
.hymn-content .hymn-info.en:hover {
  border-top: 5px solid #2426c9;
}
.hymn-content .hymn-info.zh-CAN {
  border-top: 5px solid #d4d420;
  border-top: 5px solid rgba(212, 212, 32, 0.7);
}
.hymn-content .hymn-info.zh-CAN:hover {
  border-top: 5px solid #d4d420;
}
.hymn-content .hymn-info.zh-MAN {
  border-top: 5px solid #ba1818;
  border-top: 5px solid rgba(186, 24, 24, 0.7);
}
.hymn-content .hymn-info.zh-MAN:hover {
  border-top: 5px solid #ba1818;
}
.hymn-content .hymn-info.en.zh-CAN {
  border-top: 5px solid #24911f;
  border-top: 5px solid rgba(36, 145, 31, 0.7);
}
.hymn-content .hymn-info.en.zh-CAN:hover {
  border-top: 5px solid #24911f;
}
.hymn-content .hymn-info.en.zh-MAN {
  border-top: 5px solid #e62089;
  border-top: 5px solid rgba(230, 32, 137, 0.7);
}
.hymn-content .hymn-info.en.zh-MAN:hover {
  border-top: 5px solid #e62089;
}
.hymn-content .hymn-info.en.zh-CAN.zh-MAN {
  border-top: 5px solid #6c1f99;
  border-top: 5px solid rgba(108, 31, 153, 0.7);
}
.hymn-content .hymn-info.en.zh-CAN.zh-MAN:hover {
  border-top: 5px solid #6c1f99;
}
/* more to core when converted to less */
a {
  color: #5c5c5c;
}
a:hover {
  color: #4a4a4a;
}
a.underline:hover {
  border-bottom: 1px solid #4a4a4a;
}
/* */
.info-dropdown .name,
.hymnbook-name {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.color-code {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.color-code .color {
  width: 0.75rem;
  height: 0.75rem;
}
.color-code .color.red {
  background: #ba1818;
  background: rgba(186, 24, 24, 0.7);
  border-top-left-radius: 0.75rem;
}
.color-code .color.blue {
  background: #2426c9;
  background: rgba(36, 38, 201, 0.7);
  border-top-right-radius: 0.75rem;
}
.color-code .color.purple {
  background: #6c1f99;
  background: rgba(108, 31, 153, 0.7);
  border-bottom-left-radius: 0.75rem;
}
.color-code .color.yellow {
  background: #d4d420;
  background: rgba(212, 212, 32, 0.7);
  border-bottom-right-radius: 0.75rem;
}
.color-code:hover .color.red {
  background: #ba1818;
  background: rgba(186, 24, 24, 0.8);
}
.color-code:hover .color.blue {
  background: #2426c9;
  background: rgba(36, 38, 201, 0.8);
}
.color-code:hover .color.purple {
  background: #6c1f99;
  background: rgba(108, 31, 153, 0.8);
}
.color-code:hover .color.yellow {
  background: #d4d420;
  background: rgba(212, 212, 32, 0.8);
}
.info {
  font-size: 0.9rem;
  margin-top: -1px;
  margin-right: 10px;
  cursor: pointer;
}
.info .fa-stack {
  color: #666666;
}
.info .fa-stack:hover .fa-circle-thin {
  color: #1e9731;
}
.info .fa-stack:hover .fa-info {
  color: #333333;
}
.color-code-info {
  width: 17rem;
  max-width: none;
  padding: 0.75rem;
  border-radius: 0.75rem;
  right: 10px !important;
  left: auto !important;
  margin-top: 7px;
}
.color-code-info.f-dropdown:before {
  right: 42px;
  left: auto;
}
.color-code-info.f-dropdown:after {
  right: 41px;
  left: auto;
}
.color-code-info .list-group {
  text-align: center;
}
.color-code-info .list-group .list-entry.dummy-card {
  width: 30px;
  height: 25px;
  margin: 0;
}
.info-dropdown {
  width: 17rem;
  max-width: none;
  padding: 0.75rem;
  border-radius: 0.75rem;
  right: 10px !important;
  left: auto !important;
  margin-top: 7px;
}
.info-dropdown.f-dropdown:before {
  right: 79px;
  left: auto;
}
.info-dropdown.f-dropdown:after {
  right: 78px;
  left: auto;
}
.info-dropdown dl.name {
  display: inline-block;
  margin: 0 10px;
}
.info-dropdown dt {
  text-transform: uppercase;
  font-size: 0.75rem;
  text-align: left;
  color: #cccccc;
}
.info-dropdown dd {
  font-size: 0.9rem;
  margin-left: 1rem;
}
/* form css */
.new-form {
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
  margin: 1rem 0;
  padding: 1rem;
  padding-top: 2rem;
  position: relative;
}
.new-form .sub-header {
  position: absolute;
  left: 0;
  top: 0;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 0.1rem 0.25rem;
  font-size: 0.75rem;
}
.new-form .row {
  max-width: none;
}
.new-form.ng-hide-remove {
  -webkit-animation: zoomInDown 1s;
  -moz-animation: zoomInDown 1s;
  animation: zoomInDown 1s;
}
.new-form.ng-hide-add {
  -webkit-animation: zoomOutUp 1s;
  -moz-animation: zoomOutUp 1s;
  animation: zoomOutUp 1s;
  display: block !important;
}
.edit-form {
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 2rem;
}
.edit-form .sub-header {
  position: absolute;
  left: 0;
  top: 0;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 0.1rem 0.25rem;
  font-size: 0.75rem;
}
.edit-form .row {
  max-width: none;
}
.filter-section {
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
  margin: 1rem 0;
  padding: 1rem;
  padding-top: 2rem;
  position: relative;
}
.filter-section .sub-header {
  position: absolute;
  left: 0;
  top: 0;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 0.1rem 0.25rem;
  font-size: 0.75rem;
}
.filter-section .row {
  max-width: none;
}
.filter-section .select2-container {
  width: 100%;
  margin-bottom: 1rem;
}
.filter-section.ng-hide-remove {
  -webkit-animation: flipInX 1s;
  -moz-animation: flipInX 1s;
  animation: flipInX 1s;
}
.filter-section.ng-hide-add {
  -webkit-animation: flipOutX 1s;
  -moz-animation: flipOutX 1s;
  animation: filpOutX 1s;
  display: block !important;
}
label.error {
  color: #cd3948;
}
.row.error {
  border: 1px solid #cd3948;
  -webkit-animation: shake 0.5s;
  -moz-animation: shake 0.5s;
  animation: shake 0.5s;
}
.form-error {
  background: #cd3948;
  color: #ffffff;
  font-size: 0.75rem;
}
form .row .row.form-group {
  margin: 0;
}
form .row .row.form-group .columns {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
form .select2-container {
  width: 100%;
  margin-bottom: 1rem;
}
.checkbox {
  display: inline-block;
}
/* hymn detail page style */
.hymn-content {
  position: relative;
  max-width: 62.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}
.hymn-content .left-panel {
  display: inline-block;
  vertical-align: top;
  margin-top: 2rem;
  width: 17rem;
  margin-right: 1.5rem;
}
.hymn-content .left-panel .hymn-labels {
  background: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
  padding: 0.5rem;
}
.hymn-content .left-panel .hymn-labels:hover {
  background: #ffffff;
}
.hymn-content .left-panel .hymn-labels input {
  background: transparent;
  border: none;
}
.hymn-content .left-panel .hymn-labels ul {
  margin-left: 0;
  margin-bottom: 0.5rem;
}
.hymn-content .left-panel .hymn-labels ul li.label {
  background: transparent;
  border: 1px solid #cccccc;
  color: #333333;
  padding: 0.4rem 0.6rem;
  margin-right: 0.4rem;
  font-size: 0.9rem;
  border-radius: 0.9rem;
  font-family: inherit;
}
.hymn-content .left-panel .hymn-labels ul li.label:hover {
  border: 1px solid #999999;
}
.hymn-content .left-panel .hymn-labels ul li.label i.fa-remove {
  font-size: 0.6rem;
  cursor: pointer;
}
.hymn-content .lyrics-panel {
  display: inline-block;
  vertical-align: top;
  margin-top: 2rem;
  background: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: calc(100% - 19rem);
}
.hymn-content .lyrics-panel:hover,
.hymn-content .lyrics-panel.is-hover {
  background: #ffffff;
}
.hymn-content .lyrics-panel:hover .tabs a .tab-heading:hover {
  border-bottom: 1px solid #333333;
}
.hymn-content .lyrics-panel .add-lyrics-set .add-lyrics-set-lang-selector {
  display: inline-block;
  font-size: 0.8rem;
}
.hymn-content .lyrics-panel .add-lyrics-set .add-lyrics-set-lang-selector .lyric-langs-checkbox,
.hymn-content .lyrics-panel .add-lyrics-set .add-lyrics-set-lang-selector .add-lyrics-btn {
  display: inline-block;
}
.hymn-content .lyrics-panel .add-lyrics-set .ui-btn.add-lyrics-btn button {
  padding: 0.3rem 0.4rem;
  font-size: 0.6rem;
}
.hymn-content .lyrics-panel .no-lyrics-msg {
  text-align: center;
}
.hymn-content .lyrics-panel .tabs a {
  background: transparent;
  padding: 0.5rem 1rem;
  font-family: inherit;
  border-radius: 1.4rem;
  border: 1px solid #cccccc;
  margin-right: 0.5rem;
}
.hymn-content .lyrics-panel .tabs dd:not(.active) a:hover {
  border: 1px solid #999999;
}
.hymn-content .lyrics-panel .tabs dd.active a .tab-heading:hover {
  border-bottom: 0;
}
.hymn-content .lyrics-panel .tabs dd.active.en a {
  border: 1px solid #2426c9;
}
.hymn-content .lyrics-panel .tabs dd.active.zh-CAN a {
  border: 1px solid #d4d420;
}
.hymn-content .lyrics-panel .tabs dd.active.zh-MAN a {
  border: 1px solid #ba1818;
}
.hymn-content .lyrics-panel .tabs dd.active.zh-CAN.zh-MAN a {
  border: 1px solid #ed8207;
}
.hymn-content .lyrics-panel .tabs dd.active.en.zh-CAN a {
  border: 1px solid #24911f;
}
.hymn-content .lyrics-panel .tabs dd.active.en.zh-MAN a {
  border: 1px solid #e62089;
}
.hymn-content .lyrics-panel .tabs dd.active.en.zh-CAN.zh-MAN a {
  border: 1px solid #6c1f99;
}
.hymn-content .lyrics-panel .tabs-content .content {
  margin-top: 0.5rem;
}
.hymn-content .lyrics-panel .lyrics-verse {
  padding: 1rem;
  border: 1px solid #cccccc;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  position: relative;
}
.hymn-content .lyrics-panel .lyrics-verse:hover {
  border: 1px solid #999999;
}
.hymn-content .lyrics-panel .lyrics-verse .view-panel .lines,
.hymn-content .lyrics-panel .lyrics-verse .view-panel .verse,
.hymn-content .lyrics-panel .lyrics-verse .view-panel .action-panel {
  display: inline-block;
}
.hymn-content .lyrics-panel .lyrics-verse .view-panel .verse {
  border: 1px solid #cccccc;
  text-align: center;
  width: 2rem;
  border-radius: 2rem;
  padding: 0.2rem 0.5rem;
  vertical-align: top;
  cursor: pointer;
}
.hymn-content .lyrics-panel .lyrics-verse .view-panel .verse:hover {
  border: 1px solid #999999;
}
.hymn-content .lyrics-panel .lyrics-verse .view-panel .lines {
  width: calc(100% - 5.7rem);
  text-align: center;
  cursor: pointer;
  white-space: pre;
}
.hymn-content .lyrics-panel .lyrics-verse .view-panel .action-panel {
  width: 3rem;
  vertical-align: top;
  text-align: right;
}
.hymn-content .lyrics-panel .lyrics-verse .view-panel.ng-hide-remove,
.hymn-content .lyrics-panel .lyrics-verse .edit-panel.ng-hide-remove {
  -webkit-animation: flipInX 1s;
  -moz-animation: flipInX 1s;
  animation: flipInX 1s;
}
.default-arrangement {
  border: 1px solid #cccccc;
  padding: 0.25rem 1rem;
  float: right;
  border-radius: 2rem;
}
.default-arrangement:hover {
  border: 1px solid #999999;
}
.default-arrangement .verse {
  display: inline-block;
  margin-right: 0.5rem;
  border: 1px solid #cccccc;
  text-align: center;
  font-size: 0.8rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  padding: 0 0.35rem;
  cursor: move;
}
.default-arrangement .verse:hover {
  border: 1px solid #999999;
}
.default-arrangement .verse:last-child {
  margin: 0;
}
.default-arrangement .verse.selected,
.default-arrangement .verse.selected:hover {
  border: 1px solid #1e9731;
}
.default-arrangement .actions .fa.fa-trash {
  color: #cd3948;
  font-size: 0.8rem;
  cursor: pointer;
}
/* modal css */
.reveal-modal {
  max-height: 20rem;
  overflow-y: auto;
  padding: 0;
}
.reveal-modal.delete-item-modal {
  width: 30rem;
}
.reveal-modal.edit-item-modal .edit-form .body {
  padding: 0.5rem 0.5rem;
}
.reveal-modal.edit-item-modal .edit-form .footer {
  padding-top: 0;
}
.reveal-modal .header {
  position: relative;
}
.reveal-modal .header,
.reveal-modal .body,
.reveal-modal .footer {
  font-size: 1rem;
  padding: 1rem 1.5rem;
}
.reveal-modal .header i.fa-close {
  font-size: 1rem;
  color: #999999;
  cursor: pointer;
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
}
.reveal-modal .footer .button {
  margin-bottom: 0;
}
.reveal-modal.fade {
  -webkit-animation: zoomInDown 1s;
  -moz-animation: zoomInDown 1s;
  animation: zoomInDown 1s;
}
.reveal-modal.in {
  -webkit-animation: zoomInDown 1s;
  -moz-animation: zoomInDown 1s;
  animation: zoomInDown 1s;
}
.reveal-modal-bg.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.reveal-modal-bg.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
/* clipboard */
.lyrics-clipboard-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
  display: none;
  opacity: 0;
}
.lyrics-clipboard-container .clipboard {
  width: 1px;
  height: 1px;
  padding: 0;
}
