<section data-ng-controller="OrgsController" data-ng-init="loadOrgs()">
	<div class="page-header">
		Orgs
		<i class="fa fa-plus-square-o create-new" tooltip="Create New" tooltip-placement="right" ng-click="show.newSection = !show.newSection" ng-if="authentication.user && !show.newSection" />
		<i class="fa fa-minus-square-o create-new close" tooltip="Close New Form" tooltip-placement="right" ng-click="show.newSection = !show.newSection" ng-if="authentication.user && show.newSection" />
	</div>
	<div class="new-form" ng-show="show.newSection">
		<form role="form" ng-submit="createOrg()" name="newOrgForm">
			<div class="sub-header">New Org</div>
			<div class="row form-group" ng-class="{'error padding_top padding_bottom': !newOrgForm.$valid}">
				<div class="large-4 columns">
					<label ng-class="{error: !newOrgForm.orgCode.$valid}">
						Org Id
						<input type="text" ng-model="newOrg.orgCode" name="orgCode" />
					</label>
				</div>
				<div class="large-8 columns">
					<label ng-class="{error: !newOrgForm.fullName.$valid}">
						Org Full Name
						<input type="text" ng-model="newOrg.fullName" name="fullName" />
					</label>
				</div>
			</div>
			<div class="row" ng-show="!newOrgForm.$valid">
				<div class="large-4 columns form-error"><span ng-show="!newOrgForm.orgCode.$valid">Org Id is required.</span></div>
				<div class="large-8 columns form-error"><span ng-show="!newOrgForm.fullName.$valid">Org Name is required.</span></div>
			</div>
			<div class="row padding_top_half padding_bottom_half">
				<div class="large-12 columns">
					<ui-btn
						ui-btn-type="submit"
						ui-btn-css-class="save-new-org-btn"
						ui-btn-btn-css-class="success"
						ui-btn-icon-class="save" 
						ui-btn-label="Save">
					</ui-btn>
					<ui-btn
						ui-btn-type="button"
						ui-btn-css-class="cancel-new-org-btn"
						ui-btn-label="Cancel"
						ui-btn-on-click="cancelNew()">
					</ui-btn>
				</div>
			</div>
		</form>
	</div>
	<ul class="list-group small-block-grid-2 medium-block-grid-3 large-block-grid-4">
		<li data-ng-repeat="org in orgs">
			<div class="list-entry org" ng-hide="org.editMode">
				<div class="org-name" ng-click="org.editMode=!org.editMode">
					<div>{{org.orgCode}}</div>
					<div>{{org.fullName}}</div>
				</div>
				<div class="action-icons">
					<div class="action-icon right" tooltip="Delete" tooltip-placement="left">
						<i class="fa fa-trash" ng-click="delete(org)" />
					</div>
				</div>
			</div>
			<div class="list-entry org" ng-show="org.editMode">
				<div class="edit-org">
					<form role="form" ng-submit="saveOrg(org)" name="editOrgForm">
						<div class="row form-group">
							<div class="large-12 columns">
								<label>
									<input type="text" ng-model="org.orgCode" name="orgCode" ng-class="{error: !org.orgCode}" />
								</label>
							</div>
						</div>
						<div class="row form-group">
							<div class="large-12 columns">
								<label>
									<input type="text" ng-model="org.fullName" name="fullName" ng-class="{error: !org.fullName}" />
								</label>
							</div>
						</div>
						<div class="row">
							<div class="large-12 columns">
								<ui-btn
									ui-btn-type="submit"
									ui-btn-css-class="save-new-org-btn"
									ui-btn-btn-css-class="success"
									ui-btn-icon-class="save" 
									ui-btn-label="Save">
								</ui-btn>
							</div>
						</div>
					</form>
				</span>
			</div>
		</li>
	</ul>
	<div class="alert alert-warning text-center" data-ng-if="orgs.$resolved && !orgs.length">
		There is no org in the system.
	</div>
</section>