/* colors */
@green-btn: rgba(30, 151, 49, 1);
@grey-btn: @grey-color;
@solid-white: #fff;
@off-black: #333;
@light-grey-color: #eee;
@grey-color: #ccc;
@red-color: #CD3948;

@border-radius: 0.5rem;

/* toggle-btn */
.ui-toggle {
    .ui-toggle-btn {
        display: inline-block;
        width: 30px;
        height: 20px;
        border-radius: 12px;
        margin-right: 4px;
        &.on {
            background: @green-btn;
            .toggler {
                left: 2px;
            }        
        } 
        &.off {
            background: @grey-btn;
            .toggler {
                left: 12px;
            }
        }
        .toggler {
            width: 16px;
            height: 16px;
            border-radius: 12px;
            background: @solid-white;
            position: relative;
            top: 2px;
        }
    }
    .ui-toggle-label {
        display: inline-block;
        vertical-align: top;
        margin-top: 5px;
    }    
}

/* grouped checkboxs */
.ui-group-checkbox {
    .ui-checkbox {
        display: inline-block;
        cursor: pointer;
        span.fa-stack,
        .ui-group-checkbox-label {
            display: inline-block;
            margin: 0 0.25rem;
        }
        .fa-circle-thin {
            color: @grey-btn;
        }
        .fa-circle-thin.checked {
            color: @green-btn;
        }
    }
}

/* icon button */
.ui-icon-btn {
    color: @grey-btn;
    cursor: pointer;
    &:hover .fa.fa-circle-thin {
        color: @green-btn;
    }
    &:hover .fa {
        color: @off-black;
    }
}

/* ui button with icon */
.ui-btn {
    display: inline-block;
    button {
        font-size: 0.8rem;
        padding: 0.5rem 0.8rem;
        background: transparent;
        color: @off-black;
        border-radius: @border-radius;
        border: 1px solid @grey-color;
        &.success {
            border: 1px solid @green-btn;
            &:hover {
                background: @green-btn;
                color: @solid-white;
            }
        }
        &.danger {
            border: 1px solid @@red-color;
            &:hover {
                background: @@red-color;
                color: @solid-white;
            }
        }
        &:hover {
            background: @light-grey-color;
        }
    }
}