<div class="filter-section" data-ng-show="show.filterSection">
	<div class="sub-header">Filter</div>
	<div class="row">
		<div class="{{publisher && 'large-6' || 'large-4'}} columns">
			<label>
				名稱 - by Name
				<input type="text" ng-model="search.name" name="name" />
			</label>
		</div>
		<div class="{{publisher && 'large-6' || 'large-4'}}  columns" ng-hide="publisher">
			<label>
				Publisher
				<select ui-select2="publisherSelectOption" ng-model="search.publisherId">
					<option value=""></option>
				    <option value="{{publisher._id}}" ng-repeat="publisher in publishersList">{{publisher.names|concatNames}}</option>
				</select>
			</label>
		</div>
		<div class="{{publisher && 'large-6' || 'large-4'}}  columns">
			<label>Languages</label>
			<input id="lyricLang-en" type="checkbox" ng-model="search.langs.en">
			<label for="lyricLang-en">English</label>
			<input id="lyricLang-zh-CAN" type="checkbox" ng-model="search.langs.zhCAN">
			<label for="lyricLang-zh-CAN">粵語</label>
			<input id="lyricLang-zh-MAN" type="checkbox" ng-model="search.langs.zhMAN">
			<label for="lyricLang-zh-MAN">國語</label>
		</div>
	</div>
</div>