<section data-ng-controller="PublishersController" data-ng-init="loadPublishers()">
	<div class="page-header">
		Publishers
		<i class="fa fa-plus-square-o create-new" tooltip="Create New" tooltip-placement="right" ng-click="show.newSection = !show.newSection" ng-if="authentication.user && !show.newSection" />
		<i class="fa fa-minus-square-o create-new close" tooltip="Close New Form" tooltip-placement="right" ng-click="show.newSection = !show.newSection" ng-if="authentication.user && show.newSection" />
	</div>
	<div class="new-form" data-ng-show="show.newSection">
		<form role="form" ng-submit="createPublisher()" name="newPublisherForm">
			<div class="sub-header">New Publisher</div>
			<div class="row" ng-class="{'error padding_top padding_bottom': !newPublisherForm.name.$valid}">
				<div class="large-6 columns" data-ng-repeat="name in newPublisher.names">
					<label ng-switch="name.lang" ng-class="{error: !newPublisherForm.name.$valid}">
						<span ng-switch-when="zh">中文名稱</span>
						<span ng-switch-when="en">English Name</span>
						<span ng-switch-default>Name</span>
						<input type="text" ng-model="name.name" name="name" />
					</label>
				</div>
			</div>
			<div class="row" ng-show="!newPublisherForm.name.$valid">
				<div class="large-12 columns form-error">You must enter at least one name.</div>
			</div>
			<div class="row padding_top_half padding_bottom_half">
				<div class="large-12 columns">
					<ui-btn
						ui-btn-type="submit"
						ui-btn-css-class="save-new-publisher-btn"
						ui-btn-btn-css-class="success"
						ui-btn-icon-class="save" 
						ui-btn-label="Save">
					</ui-btn>
					<ui-btn
						ui-btn-type="button"
						ui-btn-css-class="cancel-new-publisher-btn"
						ui-btn-label="Cancel"
						ui-btn-on-click="cancelNew()">
					</ui-btn>
				</div>
			</div>
		</form>
	</div>
	<ul class="list-group small-block-grid-2 medium-block-grid-3 large-block-grid-4">
		<li data-ng-repeat="publisher in publishers">
			<div class="list-entry">
				<div class="entry-header">
					<div data-ng-repeat="nameEntry in publisher.names">
						<a class="underline" data-ng-href="#!/publishers/{{publisher._id}}/hymnbooks">
							{{nameEntry.name}}
						</a>
					</div>
				</div>
				<div class="hymnbooks-count entry-stats" ng-class="{zero: publisher.hymnbooksCount === 0}">
					<span ng-hide="publishers.$resolved"><i class="fa fa-circle-o-notch fa-spin" /></span>
					<span ng-show="publishers.$resolved" tooltip="Number of hymn books" tooltip-placement="bottom">
						{{publisher.hymnbooksCount}}
					</span>
				</div>
				<div class="action-icons" ng-if="hasWriteAuthorization(publisher)">
					<div class="action-icon left" tooltip="Edit" tooltip-placement="right">
						<i class="fa fa-edit" ng-click="edit(publisher)" />
					</div>
					<div class="action-icon right" tooltip="Delete" tooltip-placement="left">
						<i class="fa fa-trash" ng-click="delete(publisher)" />
					</div>
				</div>
			</div>

		</li>
	</ul>
	<div class="alert alert-warning text-center" data-ng-if="publishers.$resolved && !publishers.length">
		No publishers yet, why don't you <a class="underline" ng-click="show.newSection = !show.newSection">create one</a>?
	</div>
</section>