<section data-ng-controller="HymnbooksController" data-ng-init="loadHymnbooks()">
	<ng-include src="'/modules/hymns/views/info-panel.client.view.html'"></ng-include>
	<div class="page-header">
		Hymn Books
		<small><a href="#!/hymnbooks" class="underline">view all</a></small>
		<i class="fa fa-plus-square-o create-new" tooltip="Create New" tooltip-placement="right" ng-click="show.newSection = !show.newSection" data-ng-show="authentication.user && !show.newSection" />
		<i class="fa fa-minus-square-o create-new close" tooltip="Close New Form" tooltip-placement="right" ng-click="show.newSection = !show.newSection" data-ng-show="authentication.user && show.newSection" />
		<i class="fa fa-filter filter-toggler" tooltip="{{show.filterSection && 'Hide Filter' || 'Show Filter'}}" tooltip-placement="right" ng-click="show.filterSection = !show.filterSection" />
	</div>
	<div class="new-form" data-ng-show="show.newSection">
		<form role="form" ng-submit="createHymnbook()" name="newHymnbookForm">
			<div class="sub-header">New Hymn Book</div>
			<div class="row form-group" ng-class="{'error padding_top padding_bottom': !newHymnbookForm.name.$valid}">
				<div class="large-6 columns" data-ng-repeat="name in newHymnbook.names">
					<label ng-switch="name.lang" ng-class="{error: !newHymnbookForm.name.$valid}">
						<span ng-switch-when="zh">中文名稱</span>
						<span ng-switch-when="en">English Name</span>
						<span ng-switch-default>Name</span>
						<input type="text" ng-model="name.name" name="name" />
					</label>
				</div>
			</div>
			<div class="row" ng-show="!newHymnbookForm.name.$valid">
				<div class="large-12 columns form-error">You must enter at least one name.</div>
			</div>
			<div class="row">
				<div class="large-6 columns padding_none">
					<div class="row form-group" ng-class="{'error padding_top padding_bottom': !newHymnbookForm.year.$valid}">
						<div class="large-12 columns">
							<label ng-class="{error: !newHymnbookForm.year.$valid}">
								Year Published
								<input type="text" name="year" ng-model="newHymnbook.year" ng-pattern="/^(19|20)\d{2}$/"/>
							</label>
						</div>
					</div>
					<div class="row form-group" ng-show="!newHymnbookForm.year.$valid">
						<div class="large-12 columns form-error">Year is not valid (1900-2999)</div>
					</div>
				</div>
				<div class="large-6 columns padding_none">
					<div class="row form-group" ng-class="{'error padding_top padding_bottom': !newHymnbookForm.lyricLangs.$valid}">
						<div class="large-12 columns">
							<label>Languages</label>
							<div class="checkbox" data-ng-repeat="lyricLang in newHymnbook.lyricLangs" >
								<input id="lyricLang-{{lyricLang.lang}}" type="checkbox" name="lyricLangs" ng-model="lyricLang.checked">
								<label for="lyricLang-{{lyricLang.lang}}">{{lyricLang.displayName}}</label>
							</div>
						</div>
					</div>
					<div class="row form-group" ng-show="!newHymnbookForm.lyricLangs.$valid">
						<div class="large-12 columns form-error">You must select at least one language</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-6 columns">
					<label>
						Publisher
						<select ui-select2="publisherSelectOption" ng-model="newHymnbook.publisherId">
							<option value=""></option>
						    <option value="{{publisher._id}}" ng-repeat="publisher in publishersList">{{publisher.names|concatNames}}</option>
						</select>
					</label>
				</div>
			</div>
			<div class="row padding_top_half padding_bottom_half">
				<div class="large-12 columns">
					<input type="submit" value="Save" class="button success tiny radius" />
					<input type="button" value="Cancel" class="button secondary tiny radius" ng-click="cancelNew()" />
				</div>
			</div>
		</form>
	</div>
	<ng-include src="'/modules/hymns/views/filter-hymnbook.client.view.html'"></ng-include>
	<div class="list-group">
		<div class="list-entry {{hymnbook.lyricLangs|lyricLangsCssClass}}" data-ng-repeat="hymnbook in hymnbooks | filterHymnOrHymnbook:search">
			<div class="entry-header" data-ng-repeat="nameEntry in hymnbook.names">
				<a class="underline" data-ng-href="#!/hymnbooks/{{hymnbook._id}}/hymns">
					{{nameEntry.name}}
				</a>
			</div>
			<div class="hymn-count entry-stats" ng-class="{zero: hymnbook.hymnsCount === 0}">
				<span ng-hide="hymnbooks.$resolved"><i class="fa fa-circle-o-notch fa-spin" /></span>
				<span ng-show="hymnbooks.$resolved" tooltip="Number of hymns" tooltip-placement="bottom">{{hymnbook.hymnsCount}}</span>
			</div>
		</div>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="hymnbooks.$resolved && !hymnbooks.length">
		No hymnbooks yet, why don't you <a class="underline" ng-click="show.newSection = !show.newSection">create one</a>?
	</div>
</section>