<div class="header">
	<span ng-if="!deleteMsg">Confirm delete this item?</span>
	<span ng-if="deleteMsg">{{deleteMsg}}</span>
	<i class="fa fa-close" ng-click="cancel()" />
</div>
<div class="body">
	<span ng-if="itemToDelete.names">{{itemToDelete.names | concatNames}}</span>
</div>
<div class="footer">
	<ui-btn
		ui-btn-type="submit"
		ui-btn-css-class="delete-item-btn"
		ui-btn-btn-css-class="danger"
		ui-btn-icon-class="trash" 
		ui-btn-label="Delete"
		ui-btn-on-click="confirm()">
	</ui-btn>
	<ui-btn
		ui-btn-type="button"
		ui-btn-css-class="cancel-delete-item-btn"
		ui-btn-label="Cancel"
		ui-btn-on-click="cancel()">
	</ui-btn>
</div>