<div class="new-form" data-ng-show="show.newSection">
	<form role="form" ng-submit="createHymnbook()" name="newHymnbookForm">
		<div class="sub-header">New Hymn Book</div>
		<div class="row form-group" ng-class="{'error padding_top padding_bottom': !newHymnbookForm.name.$valid}">
			<div class="large-6 columns" data-ng-repeat="name in newHymnbook.names">
				<label ng-switch="name.lang" ng-class="{error: !newHymnbookForm.name.$valid}">
					<span ng-switch-when="zh">中文名稱</span>
					<span ng-switch-when="en">English Name</span>
					<span ng-switch-default>Name</span>
					<input type="text" ng-model="name.name" name="name" />
				</label>
			</div>
		</div>
		<div class="row" ng-show="!newHymnbookForm.name.$valid">
			<div class="large-12 columns form-error">You must enter at least one name.</div>
		</div>
		<div class="row">
			<div class="large-6 columns padding_none">
				<div class="row form-group" ng-class="{'error padding_top padding_bottom': !newHymnbookForm.year.$valid}">
					<div class="large-12 columns">
						<label ng-class="{error: !newHymnbookForm.year.$valid}">
							Year Published
							<input type="text" name="year" ng-model="newHymnbook.year" ng-pattern="/^(19|20)\d{2}$/"/>
						</label>
					</div>
				</div>
				<div class="row form-group" ng-show="!newHymnbookForm.year.$valid">
					<div class="large-12 columns form-error">Year is not valid (1900-2999)</div>
				</div>
			</div>
			<div class="large-6 columns padding_none">
				<div class="row form-group" ng-class="{'error padding_top padding_bottom': !newHymnbookForm.lyricLangs.$valid}">
					<div class="large-12 columns">
						<label>Languages</label>
						<div class="checkbox" data-ng-repeat="lyricLang in newHymnbook.lyricLangs" >
							<input id="lyricLang-{{lyricLang.lang}}" type="checkbox" name="lyricLangs" ng-model="lyricLang.checked">
							<label for="lyricLang-{{lyricLang.lang}}">{{lyricLang.displayName}}</label>
						</div>
					</div>
				</div>
				<div class="row form-group" ng-show="!newHymnbookForm.lyricLangs.$valid">
					<div class="large-12 columns form-error">You must select at least one language</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<label>
					Publisher
					<select ui-select2="publisherSelectOption" ng-model="newHymnbook.publisherId">
						<option value=""></option>
					    <option value="{{publisher._id}}" ng-repeat="publisher in publishersList">{{publisher.names|concatNames}}</option>
					</select>
				</label>
			</div>
		</div>
		<div class="row padding_top_half padding_bottom_half">
			<div class="large-12 columns">
				<input type="submit" value="Save" class="button success tiny radius" />
				<input type="button" value="Cancel" class="button secondary tiny radius" ng-click="cancelNew()" />
			</div>
		</div>
	</form>
</div>