<section data-ng-controller="HymnController" data-ng-init="loadHymn()">
	<div id="lyrics-clipboard-container" class="lyrics-clipboard-container" hymn-copy-clipboard>
		<textarea id="clipboard" class="clipboard"></textarea>
	</div>
	<ng-include src="'/modules/hymns/views/info-panel.client.view.html'"></ng-include>
	<div class="hymn-content">
		<div class="row">
			<div class="large-12 columns">
				<div class="hymn-info {{hymn.lyricLangs|lyricLangsCssClass}}">{{hymn.names|concatNames}}</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<div class="left-panel">
					<div class="hymn-labels">
						<ul ng-if="hymn.$resolved && hymn.labels.length > 0">
							<li ng-repeat="label in hymn.labels" class="label">{{label}} <i class="fa fa-remove" ng-click="removeLabel(label)"></i></li>
						</ul>
						<span class="no-data" ng-if="hymn.$resolved && hymn.labels.length === 0">There is no label, add one below.</span>
						<form ng-submit="addLabel(newLabel)">
							<input type="text" ng-model="newLabel" placeholder="Enter Label Here" />
						</form>						
					</div>
					<div class="hymn-related" ng-if="false"></div>
				</div>
				<div class="lyrics-panel" ng-class="{'is-hover': lyricsPanelIsHover}" ng-mouseenter="lyricsPanelIsHover=true" ng-mouseleave="lyricsPanelIsHover=false">
					<tabset>
						<tab class="{{lyricsLang.langs | lyricLangsCssClass}}" ng-repeat="lyricsLang in hymn.lyricsList" active="lyricsLang.active">
							<tab-heading class="tab-heading">
								{{lyricsLang.langs | displayLangs}}
							</tab-heading>
							<ui-btn
								ui-btn-css-class="add-verse-btn"
								ui-btn-btn-css-class="success"
								ui-btn-icon-class="plus" 
								ui-btn-label="Verse"
								ui-btn-on-click="newVerse[$index].show=!newVerse[$index].show">
							</ui-btn>
							<div class="lyrics-verse" ng-show="newVerse[$index].show">
								<div id="edit-panel" class="edit-panel">
									<form ng-submit="addLyricVerse($index)" name="verseForm">
										<label>
											Verse
											<input id="lyricVerse" type="text" name="lyricVerse" ng-model="newVerse[$index].verse"/>
										</label>
										<label>
											Lines
											<textarea 
												id="lyricLines" 
												rows="4" 
												name="lyricLines" 
												ng-model="newVerse[$index].lines"
												ng-required>
											</textarea>
										</label>
										<ui-btn
											ui-btn-type="submit"
											ui-btn-css-class="save-verse-btn"
											ui-btn-btn-css-class="success"
											ui-btn-icon-class="save"
											ui-btn-label="Save">
										</ui-btn>
										<ui-btn
											ui-btn-type="button"
											ui-btn-css-class="cancel-save-verse-btn"
											ui-btn-label="Cancel"
											ui-btn-on-click="cancelAddVerse($index)">
										</ui-btn>
									</form>
								</div>
							</div>
							<div class="verse-block" ng-repeat="verse in lyricsVerseViewModel[$index]">
								<div class="lyrics-verse">
									<div class="view-panel" ng-hide="verse.editMode">
										<div class="verse">{{verse.verse}}</div>
										<div class="lines" 
											ng-click="verse.editMode=!verse.editMode"
											ng-mouseenter="setHymnClipboard($parent.$index, $index)">{{verse.lines}}</div>
										<div class="action-panel">
											<ui-icon-btn
												ui-icon-btn-icon-class="trash"
												ui-icon-btn-css-class="delete-verse-btn"
												ui-icon-btn-class="danger"
												ui-icon-btn-on-click="removeVerse($parent.$index, $index)"
												ui-icon-btn-tooltip="Delete Verse"
												ui-icon-btn-tooltip-placement="left">
											</ui-icon-btn>
											<div 
												class="ui-icon-btn copy-verse-btn"
												hymn-zero-clipboard 
												data-clipboard-target="lyricLines-{{$parent.$index}}-{{$index}}">
												<span class="fa-stack success" tooltip="Copy to Clipboard" tooltip-placement="left">
													<i class="fa fa-circle-thin fa-stack-2x"></i>
													<i class="fa fa-copy fa-stack-1x"></i>
												</span>
											</div>
										</div>
									</div>
									<div id="edit-panel" class="edit-panel" ng-show="verse.editMode">
										<form ng-submit="updateLyricVerse($parent.$index, $index)" name="verseForm">
											<label>
												Verse
												<input id="lyricVerse" type="text" name="lyricVerse" ng-model="verse.verse"/>
											</label>
											<label>
												Lines
												<textarea 
													id="lyricLines-{{$parent.$index}}-{{$index}}" 
													rows="4" 
													name="lyricLines" 
													ng-model="verse.lines"
													ng-required>
												</textarea>
											</label>
											<ui-btn
												ui-btn-type="submit"
												ui-btn-css-class="save-verse-btn"
												ui-btn-btn-css-class="success"
												ui-btn-icon-class="save"
												ui-btn-label="Save">
											</ui-btn>
											<ui-btn
												ui-btn-type="button"
												ui-btn-css-class="cancel-save-verse-btn"
												ui-btn-label="Cancel"
												ui-btn-on-click="cancelEditVerse(lyricsLang, verse, $index)">
											</ui-btn>
										</form>
									</div>
								</div>
							</div>
 						</tab>
						<div class="add-lyrics-set" ng-show="langsAvailable.length > 0">
							<span class="add-lyrics-set-lang-selector">
								<ui-group-checkbox
									ui-group-checkbox-css-class="lyric-langs-checkbox"
									ui-group-checkbox-model="newLyrics.lyricLangs" 
									ui-group-checkbox-values="langsAvailable"
									ui-group-checkbox-labels="lyricLangs.displayNames">
								</ui-group-checkbox>
								<ui-btn
									ui-btn-css-class="add-lyrics-btn"
									ui-btn-btn-css-class="success"
									ui-btn-icon-class="plus" 
									ui-btn-tooltip="Add"
									ui-btn-tooltip-placement="right"
									ui-btn-on-click="addLyricsSet()">
								</ui-btn>
							</span>
						</div>
					</tabset>
					<!-- lyrics tabset -->
				</div>
			</div>
		</div>
	</div>
	<!-- <pre>{{hymn|json}}</pre> -->
</section>