<section data-ng-controller="SettingsController">
	<div class="row">
		<div class="large-12 columns edit-profile-form">
			<div class="sub-header">Edit Profile</div>
			<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" novalidate autocomplete="off">
				<div class="row">
					<div class="large-6 columns">
						<label for="firstName">First Name
							<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
						</label>
					</div>
					<div class="large-6 columns">
						<label for="lastName">Last Name
							<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
						</label>
					</div>
				</div>
				<div class="row">
					<div class="{{hasAdminAuthentication() && 'large-4' || 'large-6'}} columns">
						<label for="email">Email
							<input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
						</label>
					</div>
					<div class="{{hasAdminAuthentication() && 'large-4' || 'large-6'}} columns">
						<label for="username">Username
							<input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Username" ng-disabled="!hasAdminAuthentication()">
						</label>
					</div>
					<div class="large-4 columns" ng-if="hasAdminAuthentication()">
						<label for="roles">Roles
							<ui-group-checkbox
								ui-group-checkbox-model="user.roles" 
								ui-group-checkbox-values="availableRoles.values"
								ui-group-checkbox-labels="availableRoles.displayName">
							</ui-group-checkbox>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="large-6 columns">
						<ui-btn
							ui-btn-type="submit"
							ui-btn-css-class="add-user-btn"
							ui-btn-btn-css-class="success"
							ui-btn-icon-class="save" 
							ui-btn-label="Save">
						</ui-btn>
					</div>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</form>
		</div>
	</div>
</section>
