/* define colors */
/* form css */
@font-face {
  font-family: Hua;
  src: url('/modules/core/font/hua.ttf');
}
body {
  font-family: Hua, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.content {
  margin-top: 5rem;
}
.content .container {
  padding: 0 3rem;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}
.pull_right {
  float: right;
}
.pull_left {
  float: left;
}
.clear {
  clear: both;
}
.padding_none {
  padding: 0;
}
.padding_top {
  padding-top: 1rem;
}
.padding_top_third {
  padding-top: 0.75rem;
}
.padding_top_half {
  padding-top: 0.5rem;
}
.padding_top_quarter {
  padding-top: 0.25rem;
}
.padding_bottom {
  padding-bottom: 1rem;
}
.padding_bottom_third {
  padding-bottom: 0.75rem;
}
.padding_bottom_half {
  padding-bottom: 0.5rem;
}
.padding_bottom_quarter {
  padding-bottom: 0.25rem;
}
.margin_left {
  margin-left: 1rem;
}
.margin_left_half {
  margin-left: 0.5rem;
}
.margin_left_quarter {
  margin-left: 0.25rem;
}
.margin_right {
  margin-right: 1rem;
}
.margin_right_half {
  margin-right: 0.5rem;
}
.margin_right_quarter {
  margin-right: 0.25rem;
}
.no-data {
  font-size: 0.9rem;
  font-style: italic;
  font-weight: lighter;
}
.tooltip {
  font-size: 0.6rem;
  padding: 0.5rem;
}
/* general link style */
a {
  color: #5c5c5c;
}
a:hover {
  color: #4a4a4a;
}
a.underline:hover {
  border-bottom: 1px solid #4a4a4a;
}
/* top bar style */
.top-bar li a i.fa {
  margin-right: 0.5rem;
}
/* users module css */
.create-user-form {
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
  margin: 1rem 0;
  padding: 1rem;
  padding-top: 2rem;
  position: relative;
}
.create-user-form .sub-header {
  position: absolute;
  left: 0;
  top: 0;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 0.1rem 0.25rem;
  font-size: 0.75rem;
}
.create-user-form .row {
  max-width: none;
}
.create-user-form .ui-group-checkbox {
  margin-bottom: 1rem;
}
.edit-profile-form {
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
  margin: 1rem 0;
  padding: 1rem;
  padding-top: 2rem;
  position: relative;
}
.edit-profile-form .sub-header {
  position: absolute;
  left: 0;
  top: 0;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 0.1rem 0.25rem;
  font-size: 0.75rem;
}
.edit-profile-form .row {
  max-width: none;
}
.edit-profile-form .ui-group-checkbox {
  margin-bottom: 1rem;
}
.change-password-form {
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
  margin: 1rem 0;
  padding: 1rem;
  padding-top: 2rem;
  position: relative;
}
.change-password-form .sub-header {
  position: absolute;
  left: 0;
  top: 0;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 0.1rem 0.25rem;
  font-size: 0.75rem;
}
.change-password-form .row {
  max-width: none;
}
.sign-in-form {
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
  margin: 1rem 0;
  padding: 1rem;
  padding-top: 2rem;
  position: relative;
  width: 25rem;
  margin-left: auto;
  margin-right: auto;
}
.sign-in-form .sub-header {
  position: absolute;
  left: 0;
  top: 0;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 0.1rem 0.25rem;
  font-size: 0.75rem;
}
.sign-in-form .row {
  max-width: none;
}
.list-entry.org,
.list-entry.org:hover {
  border-top: 1px solid #cccccc;
}
.list-entry.org .display-name,
.list-entry.org:hover .display-name {
  cursor: pointer;
  margin-top: 0.5rem;
}
.list-entry.org + .expand-panel,
.list-entry.org:hover + .expand-panel {
  position: relative;
  margin-top: -0.5rem;
}
.list-entry.org .edit-org,
.list-entry.org:hover .edit-org {
  padding: 0.5rem 0;
}
.list-entry.org .edit-org form input,
.list-entry.org:hover .edit-org form input {
  margin: 0 0 0.5rem 0;
}
.list-entry.org .edit-org form input.error,
.list-entry.org:hover .edit-org form input.error {
  border: 1px solid #cd3948;
}
.list-entry.user,
.list-entry.user:hover {
  border-top: 1px solid #cccccc;
  height: 6rem;
}
.list-entry.user .display-name,
.list-entry.user:hover .display-name {
  cursor: pointer;
  margin-top: 0.5rem;
}
.list-entry.user + .expand-panel,
.list-entry.user:hover + .expand-panel {
  position: relative;
  margin-top: -0.5rem;
}
.list-entry.user .org-name,
.list-entry.user:hover .org-name {
  font-size: 0.8rem;
  color: #666666;
  font-style: italic;
}
