@core_css_path: "../../../core/assets/css";

@import '@{core_css_path}/colors.less';
@import '@{core_css_path}/form.less';
@import '@{core_css_path}/core.less';

/* users module css */
.create-user-form {
	.general_form_layout(1rem 0, 1rem);
	.ui-group-checkbox {
		margin-bottom: 1rem;
	}
}

.edit-profile-form {
	.general_form_layout(1rem 0, 1rem);
	.ui-group-checkbox {
		margin-bottom: 1rem;
	}
}

.change-password-form {
	.general_form_layout(1rem 0, 1rem);
}

.sign-in-form {
	.general_form_layout(1rem 0, 1rem);
	width: 25rem;
	margin-left: auto;
	margin-right: auto;
}

.generic-list-entry-block() {
	border-top: 1px solid @grey;
	.display-name {
		cursor: pointer;
		margin-top: 0.5rem;
	}
	+.expand-panel {
		position: relative;
		margin-top: -0.5rem;
	}
}
.list-entry.org, 
.list-entry.org:hover {
	.generic-list-entry-block;
	.edit-org {
		padding: 0.5rem 0;
		form input {
			margin: 0 0 0.5rem 0;
			&.error {
				border: 1px solid @danger_red;
			}
		}
	}
}
.list-entry.user, .list-entry.user:hover {
	.generic-list-entry-block;
	height: 6rem;
	.org-name {
		font-size: 0.8rem;
		color: @dark_grey;
		font-style: italic;
	}
}